APP_NAME=Honey
APP_ENV=local
APP_KEY=base64:MzAHFDU+Nq0m+Wl2phu2GES/gGmxbSBKV//vd4+w2zI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=honey
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# SHOPIFY Honeys Original
SHOPIFY_USER_NAME=9954d1c84871900eb0604023f0800402
SHOPIFY_PASSWORD_TOKEN=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

# this is test one, need to create webhook and get the key (under the webhook section) 
SHOPIFY_API_SECRET_KEY=a1a1a1a1a1a1a1a1a1a1a1a

SHOPIFY_SHOP=condomania-com
SHOPIFY_API=api/2020-01
SHOPIFY_LOCATION_NAME="Honey's Place"
SHOPIFY_LOCATION_ID=62089232584
SHOPIFY_COLLECTION_ID=316394143944

# HONEY PLACE
HONEY_ACCOUNT=21430DS
HONEY_PASSWORD=N51POFYIDMSMHHRS
HONEY_QTY_DELTLA=3
